.main {
	width: 1400px;
	// height: 1500px;
	margin-bottom: 50px;

	.main-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 1400px;
		background-color: #141414;
		border-radius: 32px 32px 0px 32px;

		&-header {
			width: 1328px;
			height: 96px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #141414;
			padding-bottom: 36px;

			&-logo {
				display: flex;
				align-items: center;
				background-color: #141414;

				&-text {
					border-radius: 60px;
					background: #222;
					width: 443px;
					height: 31px;
					display: flex;
					align-items: center;
					justify-content: center;

					> p {
						color: #96c8a2;
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 12.6px; /* 90% */
					}
				}

				> img {
					background-color: #141414;
					margin-right: 16px;
				}
			}

			&-navigation {
				display: flex;
				align-items: center;
				background-color: #141414;

				> a {
					margin: 0 16px;
					color: #c8c6c6;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-decoration: none;
					cursor: pointer;
					background-color: #141414;
					transition: all 0.3s;
				}

				> a:hover {
					color: #96c8a2;
				}
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #141414;

			&-title {
				color: #f3efef;
				text-align: center;
				font-size: 78px;
				font-style: normal;
				font-weight: 300;
				line-height: 100px;
				background-color: #141414;
				padding-bottom: 24px;
			}

			&-text {
				width: 734px;
				color: #f3efef;
				text-align: center;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 140%;
				background-color: #141414;
				padding-bottom: 40px;
			}

			&-buttons {
				display: flex;

				> a {
					text-decoration: none;
					display: flex;
				}

				.main-button {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 16px;
					height: 48px;
					border-radius: 16px;
					border: none;
					transition: background-color 0.3s, border 0.3s, color 0.3s,
						filter 0.3s;
				}

				&:hover .main-button {
					background-color: #222;
					border: 1px solid hsl(120, 26%, 67%);
					color: white;

					.down-arrow {
						filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(218deg)
							brightness(102%) contrast(103%);
					}
				}

				.down-arrow:hover {
					filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(218deg)
						brightness(102%) contrast(103%);
				}
				// &:hover .main-button {
				// 	background-color: #222;
				// 	border: 1px solid #96C196;
				// 	color: white
				// }

				&-more {
					color: #141414;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
					text-decoration: none;
				}
			}
		}

		&-about {
			background-color: #141414;
			width: 100%;
			height: 40px;
			border-radius: 0 0 0 36px;
			display: flex;

			&-right {
				width: 80px;
				height: 40px;
				background: #222;

				&-border {
					width: 80px;
					height: 40px;
					background-color: #141414;
					border-radius: 0px 0px 14.4px 36px;
				}
			}

			&-center {
				border-radius: 16px 16px 0px 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100px;
				background: #222;

				&-dot {
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #96c8a2;
					margin-right: 5px;
				}

				&-text {
					color: #fff;
					font-size: 16px;
					font-style: normal;
					font-weight: 800;
					line-height: 18px;
				}
			}

			&-left {
				width: 80px;
				height: 40px;
				background: #222;

				&-border {
					width: 80px;
					background-color: #141414;

					height: 40px;
					border-radius: 0px 0px 0px 14.4px;
				}
			}
		}
	}

	.main-img {
		width: 1278px;
		height: 544px;
		background-color: #141414;
		margin-bottom: 40px;
	}

	&-bottom-section {
		display: flex;
		width: 1400px;
		height: 182px;
		margin-bottom: 30px;

		&-img {
			width: 700px;
			margin: 15px 0 0 80px;
		}

		&-border {
			width: 66px;
			background-color: #141414;

			&-background {
				width: 66px;
				height: 182px;
				border-radius: 0 36px 0 0;
				background-color: #222;
			}
		}

		&-details {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 560px;
			height: 144px;
			background-color: #141414;
			border-radius: 0px 0px 32px 32px;

			&-img {
				background-color: #141414;
				width: 107px;
				height: 46px;
				margin-right: 15px;
			}

			&-line {
				background-color: #141414;
				width: 1px;
				height: 48px;
				background-color: #fff;
				margin-right: 15px;
			}

			&-text {
				background-color: #141414;
				width: 344px;
				color: #96c8a2;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
	}

	&-imagine {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-header {
			width: 1067px;
			color: #fff;
			text-align: center;
			font-size: 55px;
			font-style: normal;
			font-weight: 300;
			line-height: 120%;
			margin-bottom: 80px;
		}

		&-cards {
			width: 1285px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 150px;

			&-item {
				width: 403px;
				height: 530px;
				overflow: hidden;
				display: flex;
				align-items: flex-end;
				justify-content: center;

				&-image {
					width: 100%;
					height: 100%;
					border-radius: 32px;
					background: url('../../../public/img/cards/card3.png') no-repeat
						center center;
					display: flex;
					align-items: flex-end;
					justify-content: center;

					> p {
						width: 300px;
						padding: 24px;
						margin: 20px 0;
						border-radius: 16px;
						background: rgba(20, 20, 20, 0.9);
						backdrop-filter: blur(5px);
						color: #f3efef;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 26.4px;
					}
				}

				> p {
					width: 300px;
					padding: 24px;
					margin: 20px 0;
					border-radius: 16px;
					background: rgba(20, 20, 20, 0.9);
					backdrop-filter: blur(5px);
					color: #f3efef;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 26.4px;
				}
			}

			.card1 {
				background: url('../../../public/img/cards/card1.png') center center
					no-repeat;
				background-size: cover;
				border-radius: 32px;
			}
			.card2 {
				background: url('../../../public/img/cards/card2.png') center center
					no-repeat;
				background-size: cover;
				border-radius: 32px;
			}
			.card3 {
				background-image: linear-gradient(
					to bottom,
					#2a6830,
					#337437,
					#3d803e,
					#468c46,
					#50984d,
					#50984d,
					#50984d,
					#50984d,
					#468c46,
					#3d803e,
					#337437,
					#2a6830
				);
				border-radius: 32px;
			}
		}
	}
}

.menu-button {
	display: none;
}

.hide {
	display: none;
	opacity: 0;
}

.main-section-menu {
	height: 0;
	visibility: hidden;
	opacity: 0;
	// display: none;
}

.main-section-text-mobile {
	display: none;
}

@media only screen and (max-width: 600px) {
	.main-section-text-mobile {
		display: block;
	}
	.main {
		width: 93%;

		.main-section {
			width: 100%;
			border-radius: 32px;
		}

		.main-section-header {
			justify-content: center;
			width: 90%;
			border-radius: 32px 32px 0 0;
			padding-bottom: 0;
		}

		.main-section-header > div:first-child {
			width: 100%;
		}

		.main-section-header-navigation {
			display: none;
		}

		.main-section-header-logo {
			width: 100%;
			justify-content: space-between;
		}

		.main-section-header-logo-text {
			display: none;
		}

		.main-section-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 90%;
		}

		.main-section-content-title {
			font-size: 47px;
			line-height: normal;
		}

		.main-section-content-text {
			width: 100%;
		}

		.main-section-menu.open {
			opacity: 1;
		}

		.main-img {
			width: 90%;
			height: auto;
		}

		.main-section-about {
			display: none;
		}

		.main-bottom-section {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 0;
		}

		.main-bottom-section-border {
			display: none;
		}

		.main-bottom-section-details {
			width: 80%;
			justify-content: space-between;
			height: auto;
			padding: 20px 0;
			margin-bottom: 20px;
		}

		.main-bottom-section-details-text {
			width: auto;
			font-size: 15px;
			background-color: transparent;
		}

		.main-bottom-section-details-img {
			width: 80%;
			background-color: transparent;
			margin-left: 10px;
			height: auto;
		}

		.main-bottom-section-img {
			width: 100%;
			margin: 0;
		}

		.main-bottom-section-border {
			// display: none;
		}
	}

	.main-section-header-logo-text-mobile {
		border-radius: 60px;
		background: #222;
		width: 100%;
		height: 31px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;

		> p {
			color: #96c8a2;
			font-size: 10px;
			font-weight: 500;
			padding: 0 10px;
		}
	}

	.menu-button {
		display: block;
		cursor: pointer;
		border: none;
		background: none;
	}

	.main-section-menu > img {
		width: 55px;
		height: 48px;
	}

	.main-section-menu-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main-section-menu {
		background-color: #141414;
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 100;
		transition: all 0.5s ease-in-out;
		opacity: 0;
		visibility: hidden;
	}

	.main-section-menu.open {
		visibility: visible;
		display: flex;
		flex-direction: column;
		opacity: 1;
	}

	.main-section-menu-content > a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		height: 50px;
		border-bottom: 1px #96c8a2 solid;
		text-decoration: none;
	}

	.main-section-menu-logo {
		display: flex;
		align-items: center;
		height: 55px;
		padding: 20px;
		justify-content: space-between;
		border-bottom: 1px #96c8a2 solid;
	}

	.main-section-menu-empty {
		width: 20px;
		height: 100%;
	}

	.main-imagine > div:first-child {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.main-imagine-header {
		width: 93%;
		font-size: 40px;
		margin-bottom: 50px;
	}

	.main-imagine-cards {
		display: none;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		> div {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}

	.main-imagine-cards-item {
		width: 90%;
	}

	.card1,
	.card2 {
		border-radius: 32px;
		margin-bottom: 25px;
	}

	.card-text {
		width: 90%;
	}

	.main-imagine-cards-item > p {
		width: 100%;
		margin: 15px;
	}

	.main-imagine-cards-item-image {
		width: 93%;
	}
	.main-imagine-cards-item-image > p {
		width: auto;
	}
}
