.founders {
	width: 1400px;
	margin-bottom: 150px;

	&-tab {
		display: flex;
		width: 100%;

		&-left {
			width: 60px;
			height: 42px;
			background-color: #000;

			&-border {
				background: #222;
				width: 60px;
				height: 42px;
				border-radius: 0 0 14.4px 0;
			}
		}

		&-center {
			height: 42px;
			width: 125px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #000;
			border-radius: 16px 16px 0 0;

			&-dot {
				width: 8px;
				height: 8px;
				background-color: #96c8a2;
				margin-right: 5px;
				border-radius: 50%;
			}

			&-text {
				color: #f3efef;
				font-size: 16px;
				font-style: normal;
				font-weight: 800;
				line-height: 18px;
				background-color: #000;
			}
		}

		&-right {
			width: 60px;
			height: 42px;
			background-color: #000;

			&-border {
				background: #222;
				width: 60px;
				height: 42px;
				border-radius: 0 0 0 14.4px;
			}
		}
	}

	.hide {
		opacity: 0;
		visibility: hidden;
	}

	.slides-wrapper {
		position: relative;
		width: 1400px;
		height: 729px;
	}

	&-main {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 32px 32px 0 32px;
		display: flex;
		align-items: center;
		transition: all 1s ease-in-out;

		&-left {
			margin-left: 100px;
			width: 755px;

			&-header {
				color: #fff;
				font-size: 55px;
				font-style: normal;
				font-weight: 300;
				line-height: 120%;
				background: 0;
				margin-bottom: 60px;
			}

			&-counter {
				width: 60px;
				padding: 5px 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 43px;
				background: #96c8a2;
				color: #000;
				margin-bottom: 30px;
			}

			&-name {
				color: #fff;
				font-size: 32px;
				font-style: normal;
				font-weight: 600;
				line-height: 120%;
				text-transform: uppercase;
				margin-bottom: 16px;
			}

			&-details {
				color: #fff;
				font-size: 24px;
				font-style: normal;
				font-weight: 300;
				line-height: 120%;
				margin-bottom: 40px;
			}

			&-quote {
				height: 60px;
				display: flex;

				&-img {
					font-size: 36px;
					font-style: normal;
					font-weight: 800;
					line-height: normal;
					letter-spacing: 1.08px;
					text-transform: uppercase;
				}

				&-text {
					padding: 12px 14px;
					color: #fff;
					font-size: 20px;
					font-style: normal;
					font-weight: 300;
					line-height: 120%;
				}
			}
		}

		&-right {
			&-img {
				border-radius: 50%;
				margin-left: 50px;
				width: 371px;
				height: 381px;
			}
		}
	}

	&-bottom {
		width: 100%;
		height: 96px;
		display: flex;

		&-block {
			width: 1144px;
			height: 96px;
			background-color: #000;

			&-border {
				background-color: #222;
				width: 1144px;
				height: 96px;
				border-radius: 0 16px 0 0;
			}
		}

		&-buttons {
			width: 258px;
			height: 96px;
			border-radius: 0 0 32px 32px;
			background: #000;
			display: flex;
			align-items: center;
			justify-content: center;

			> button {
				display: flex;
				width: 48px;
				height: 48px;
				justify-content: center;
				align-items: center;
				border-radius: 16px;
				background: #222;
				border: 1px solid #000;
				margin: 0 10px;
				cursor: pointer;
				transition: all 0.3s;
			}

			> button:hover {
				border: 1px solid #96c8a2;
			}
		}
	}
}

.disable {
	opacity: 0.4;
	cursor: default !important;
}

.disable:hover {
	opacity: 0.4;
	border: 1px solid #000 !important;
}

@media only screen and (max-width: 600px) {
	.wrapper{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.founders-main-left-header {
		font-size: 35px;
		margin-bottom: 30px;
	}

	.founders-main-left-name {
		font-size: 28px;
	}

	.founders-main-left-details {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.founders-main-left-quote-text {
		font-size: 14px;
	}

	.founders-main-right-img {
		width: 300px;
		height: 300px;
		margin-left: 0;
	}

	.founders {
		width: 93%;
	}

	.founders-tab {
		display: none;
	}

	.founders .slides-wrapper {
		width: 100%;
	}

	.founders-main {
		flex-direction: column;
		border-radius: 32px 32px 0 0;
	}

	.founders-main-left {
		margin-left: 25px;
		margin-top: 25px;
		margin-bottom: 50px;
		width: 85%;
	}

	.founders-main-left-quote {
		height: auto;
	}

	.founders-main-left-quote-img {
		font-size: 24px;
	}

	.founders-main-right {
		margin-left: 0;
	}

	.founders-bottom {
		flex-direction: column;
	}

	.founders-bottom-block {
		display: none;
	}
	.founders-bottom-buttons {
		width: 100%;
	}
}

@media only screen and (max-width: 450px) {
	.founders-main-right-img {
		width: 250px;
		height: 250px;
		margin-left: 0;
	}
}

@media only screen and (max-width: 385px) {
	.founders-main-left {
		margin-left: 5px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 350px) {
	.founders-main-right-img {
		width: 250px;
		height: 250px;
		margin-left: 0;
	}

	.founders-main-left {
		margin-left: 5px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 85%;
	}
}

@media only screen and (max-width: 335px) {
	.founders-main-right-img {
		width: 200px;
		height: 200px;
		margin-left: 0;
	}

	.founders-main-left {
		margin-left: 5px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 85%;
	}
}