.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-image: linear-gradient(to bottom, #36454f, #36454f, #36454f, #36454f, #36454f, #374b55, #38525b, #395861, #3c676b, #447671, #548473, #699273);
	opacity: 0.8;

	&.fadeOut {
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}

	&-content {
		font-family: Inter;
		color: #96c8a2;
		font-size: 150px;

		animation: spacingIn 2.5s ease-in-out;
		animation-delay: 0;

		@keyframes spacingIn {
			from {
				letter-spacing: 100px;
				font-size: 200px;
			}
			to {
				letter-spacing: 5px;
				font-size: 150px;
			}
		}
	}

	.text {
		position: relative;
		display: flex;
		justify-content: center;
		font-size: 40px;
		text-align: center;
	}
}
