.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: radial-gradient(circle, #141414, #313a43, #436771, #5e9891, #96c8a2);
	opacity: 1;

	&.fadeOut {
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}

	&-content {
		font-size: 85px;
		font-family: Inter;
		letter-spacing: 5px;
		color: #96c8a2;
		margin-bottom: 150px;
	}

	> span {
		width: 70%;
		text-align: center;
	}
}
