.header {
	width: 1400px;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-title {
		width: 135px;
		display: flex;
		align-items: center;

		&-dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #96c196;
			margin-right: 16px;
		}

		> p {
			color: #d9d9d9;
			font-size: 16px;
			font-style: normal;
			font-weight: 800;
			line-height: 12.6px;
		}
	}

	&-running-line {
		width: 1124px;
		height: 100%;
		display: flex;
		overflow: hidden;

		&-text-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			height: 100%;
			align-items: center;
		}

		.running-text {
			color: #FFF;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 12.6px;
			opacity: 0.4;
			margin-right: 10px;
		}

		.vertical-line {
			height: 15px;
			width: 1px;
			background-color: #fff;
			margin-right: 10px;
		}
	}

	&-button {
		width: 96px;
		display: flex;
		justify-content: center;

		> button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 32px;
			border: 1px solid rgba(255, 255, 255, 0.16);
			background: linear-gradient(
				123deg,
				rgba(214, 163, 228, 0) 0%,
				rgba(214, 163, 228, 0.07) 100%
			);
			border-radius: 32px;
			cursor: pointer;
			transition: all 0.3s;
		}


	}

	&:hover &-button > button {
		border: 1px solid #96c8a2;
		color: #96c8a2;
	}
}

.rfm-child {
	> p {
		color: #fff;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		opacity: 0.4;
	}
}

.marquee-block {
}
