.building {
	width: 1400px;
	height: 880px;
	border-radius: 32px;
	display: flex;
	background: #141414;
	margin-bottom: 110px;

	&-left {
		width: 470px;
		margin-left: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-img {
			height: 166px;
			width: 73px;
		}

		&-title {
			&-first {
				display: flex;
				align-items: center;

				&-dot {
					background: #96c8a2;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					margin-right: 10px;
				}

				&-text {
					color: #fff;
					font-size: 55px;
					font-style: normal;
					font-weight: 300;
					line-height: 120%;
				}
			}

			&-second {
				color: #fff;
				font-size: 55px;
				font-style: normal;
				font-weight: 300;
				line-height: 120%;
				display: flex;
			}

			&-text {
				color: #fff;
				font-size: 55px;
				font-style: normal;
				font-weight: 300;
				line-height: 120%;
				text-transform: uppercase;
				display: flex;
			}
		}

		&-empty {
			height: 166px;
			background: #141414;
		}
	}

	&-right {
		width: 830px;

		&-top {
			width: 830px;
			height: 111px;
		}

		&-middle {
			width: 830px;
			height: 582px;

			&-swiper {
				width: 100%;
				height: 100%;

				.swiper-slide-active {
					border-radius: 32px;
					width: 404px !important;
					max-height: 582px !important;
				}

				.swiper-slide {
					border-radius: 32px;
					background-color: #fff;
					width: 372px;
					max-height: 486px;
					height: 100%;
					transition: max-height 0.3s ease-in-out;
				}

				.card1 {
					background-image: url('../../../public/img/buildingCards/card1.png');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}
				.card2 {
					background-image: url('../../../public/img/buildingCards/card2.jpg');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}
				.card3 {
					background-image: url('../../../public/img/buildingCards/card3.jpg');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}

		&-bottom {
			width: 830px;
			height: 187px;
			display: flex;

			> p {
				width: 400px;
				margin-top: 24px;
				color: #f3efef;
				font-size: 23px;
				font-style: normal;
				font-weight: 400;
				line-height: 26.4px;
				margin-right: 120px;
			}
		}
	}
}

.swiper-pagination {
	margin-left: 65px;
	margin-bottom: 35px;
}

@media only screen and (max-width: 600px) {

	.building {
		width: 93%;
		flex-direction: column;
		height: auto;
	}

	.building-left {
		width: 100%;
		margin: 0;
		border-radius: 32px 32px 0 0;
		flex-direction: row-reverse;
		margin-bottom: 35px;
	}

	.building-left-img {
		margin-right: 30px;
		width: 56.247px;
		height: 129px;
	}

	.building-left-empty {
		display: none;
	}

	.building-left-title {
		margin-top: 75px;
		margin-left: 35px;
	}

	.swiper-wrapper {
		width: 90%;
	}

	.building-right {
		width: 100%;
		// margin-left: 20px;
	}

	.building-right-top {
		display: none;
	}

	.building-right-middle {
		width: 100%;
		height: auto;
		align-items: center;
	}

	.building-right-bottom {
		width: 100%;
		height: auto;
		flex-direction: column;
		align-items: center;
	}

	.building-right-middle-swiper .swiper-slide-active {
		width: 271px !important;
		height: 361px !important;
	}

	.building-right-middle-swiper .swiper-slide {
		width: 227px;
		height: 303px;
	}

	.swiper-pagination {
		display: flex;
		margin-left: 0;
		width: 95%;
		justify-content: flex-end;
		margin-bottom: 15px;
	}

	.building-right-bottom > p {
		width: 80%;
		margin-right: 0;
		font-size: 18px;
		margin-bottom: 15px;
	}

	.jumper {
		width: 172.165px;
		height: 112.505px;
	}

	.building-left-title-first-dot {
		width: 8px;
		height: 8px;
	}

	.building-left-title-first-text {
		font-size: 23px;
	}

	.building-left-title-second {
		font-size: 23px;
	}

	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
		width: 95% !important;
	}
}
