.footer {
	width: 100%;
	height: 690px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #96c8a2;
	border-radius: 32px 32px 0 0;

	&-content {
		width: 1400px;
		height: 610px;
		background-color: #141414;
		border-radius: 32px 32px 0 0;

		&-top {
			margin-left: 64px;
			height: 120px;
			display: flex;
			align-items: flex-end;
			margin-bottom: 38px;
		}

		&-middle {
			margin-left: 64px;
			width: 1070px;
			height: 350px;
			display: flex;

			&-left {
				display: flex;
				flex-direction: column;
				margin-right: 205px;

				&-title {
					display: flex;
					align-items: center;
					margin-bottom: 24px;

					&-dot {
						width: 8px;
						height: 8px;
						background-color: #96c8a2;
						border-radius: 50%;
						margin-right: 10px;
					}

					&-text {
						color: #f3efef;
						font-size: 24px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}

				&-form {
					display: flex;
					flex-direction: column;

					> input[type='email'] {
						display: flex;
						width: 385.59px;
						padding: 17.5px 21px;
						justify-content: center;
						align-items: center;
						border-radius: 14px;
						border: 1px solid #2a2a2a;
						background: #2a2a2a;
						margin-bottom: 16px;
					}

					> p {
						color: #fff;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						margin-bottom: 18px;
					}

					&-checkbox {
						display: flex;
						align-items: center;
						margin-bottom: 20px;

						> input[type='checkbox'] {
							fill: #d9d9d9;
							border-radius: 50px;
							clip-path: circle(46% at 50% 50%);
							margin-right: 5px;
							width: 15px;
							height: 15px;
							cursor: pointer;
						}

						> p {
							color: #cecece;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					> button {
						display: flex;
						width: 386px;
						padding: 14px 0px 16px 0px;
						justify-content: center;
						align-items: center;
						margin-top: 18px;
						border-radius: 16px;
						background: #96c8a2;
						cursor: pointer;
						color: #141414;
						font-size: 24px;
					}
				}
			}

			&-right {
				display: flex;
				width: 100%;

				&-links {
					display: flex;
					flex-direction: column;
					margin-right: 65px;
					width: 170px;

					&:last-child {
						margin-right: 0;
					}

					> h5 {
						color: #f3efef;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						margin-bottom: 24px;
					}

					> a {
						color: #f3efef;
						font-size: 16px;
						font-style: normal;
						font-weight: 300;
						line-height: normal;
						cursor: pointer;
						text-decoration: none;
						margin-bottom: 16px;
						transition: all 0.3s;
					}

					> a:hover {
						color: #96c8a2;
					}
				}
			}
		}

		&-bottom {
			width: 100%;
			height: 100px;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			display: flex;
			align-items: center;
			justify-content: space-between;

			> p {
				margin-left: 64px;
				color: #f3efef;
				font-size: 13.672px;
				font-style: normal;
				font-weight: 400;
				line-height: 19.6px;
				opacity: 0.5;
			}

			> a {
				margin-right: 64px;
				width: 48px;
				height: 48px;
				border-radius: 16px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;

				> button {
					border-radius: 16px;
					width: 48px;
					height: 48px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #1a1a1a;
					border: 1px solid rgba(255, 255, 255, 0.16);
					transition: background-color 0.3s, border 0.3s, color 0.3s,
						filter 0.3s;
				}

				&:hover > button {
					background-color: #222;
					border: 1px solid hsl(120, 26%, 67%);
					color: white;

					// .up-arrow {
					// 	filter: invert(80%) sepia(8%) saturate(1030%) hue-rotate(82deg) brightness(92%) contrast(91%);
					// }
				}

				// .up-arrow:hover {
				// 	filter: invert(98%) sepia(2%) saturate(6855%) hue-rotate(65deg) brightness(86%) contrast(63%);
				// }
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.footer {
		height: auto;
		display: flex;
		// flex-direction: column;
		justify-content: center;
	}

	.footer > div {
		width: 93%;
	}

	.footer-content {
		width: 100%;
		align-items: center;
		height: auto;
		margin-top: 50px;
	}

	.footer-content-top {
	}

	.footer-content-middle {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.footer-content-middle-left {
		margin-right: 0;
		width: 90%;
		margin-bottom: 100px;
	}

	.footer-content-middle-left-form > input[type=email] {
		width: 80%;
	}

	.footer-content-middle-left-form > button {
		width: 100%;
	}

	.footer-content-middle-right {
		flex-direction: column;
	}

	.footer-content-middle-right-links {
		width: 100%;
		margin-right: 0;
		margin-bottom: 50px;
		align-items: center;
	}

	.footer-content-bottom > p {
		margin-left: 20px;
	}

	.footer-content-bottom > a {
		margin-left: 10px;
		margin-right: 20px;
	}

	.links {
		display: none;
	}
}
